# Environment variables
.env
.env.docker

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log