{% extends "threadfusion/navbar.html" %}

{% block body %}
    {% if alert %}
        <div class="toast-box">
            <div class="toast success-toast">
                <div class="msg-box">
                    <i class="fa fa-check-circle"></i>
                    <p>Success! {{ alert }}</p>
                </div>
                <i class="fa-solid fa-xmark" id="close-toast" data-redirect="https://threadfusion-django.onrender.com/singlequestion/{{ question_id }}"></i>
            </div>
        </div>
    {% endif %}
    <h2 class="module-title" style="padding: 2rem 7rem 0">Edit Answer</h2>
    <div class="question-container">
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}

            <input class="submit-btn" type="submit" value="Save Changes">
        </form>
    </div>
{% endblock %}
