{% extends "threadfusion/navbar.html" %}

{% block body %}
    <div class="hero-section">
        <div class="headline">
            <h1>Bridging Ideas: Where Conversations Spark Innovation</h1>
            <p>Your platform for sharing knowledge, experiences, and perspectives.
                <br>
                Engage in thought-provoking discussions across various topics.
            </p>
            <a href="{% url 'askquestion' %}">Ask Question</a>
        </div>

        <div class="illustration">
            <img src="static/threadfusion/forum1.png" alt="Illustration">
        </div>
    </div>

    <div class="top-questions">
        {% if all_questions.count == 0 %}
            <p class="no-questions">No Questions. Be the first one to ask a <a href="{% url 'askquestion' %}">Question</a></p>
        {% else %}
            <h4>Top Questions</h4>

            {% for ques in questions %}
                <div class="question-box">
                    <a href="{% url 'singlequestion' id=ques.question.id %}" class="title">
                        <svg aria-hidden="true" class="svg-icon iconQuestion" width="18" height="18" viewBox="0 0 18 18">
                            <path d="m4 15-3 3V4c0-1.1.9-2 2-2h12c1.09 0 2 .91 2 2v9c0 1.09-.91 2-2 2H4Zm7.75-3.97c.72-.83.98-1.86.98-2.94 0-1.65-.7-3.22-2.3-3.83a4.41 4.41 0 0 0-3.02 0 3.8 3.8 0 0 0-2.32 3.83c0 1.29.35 2.29 1.03 3a3.8 3.8 0 0 0 2.85 1.07c.62 0 1.2-.11 1.71-.34.65.44 1 .68 1.06.7.23.13.46.23.7.3l.59-1.13a5.2 5.2 0 0 1-1.28-.66Zm-1.27-.9a5.4 5.4 0 0 0-1.5-.8l-.45.9c.33.12.66.29.98.5-.2.07-.42.11-.65.11-.61 0-1.12-.23-1.52-.68-.86-1-.86-3.12 0-4.11.8-.9 2.35-.9 3.15 0 .9 1.01.86 3.03-.01 4.08Z"></path>
                        </svg>
                        {{ ques.question.title }}
                    </a>
                    {{ ques.question.description.html | safe }}

                    <div class="answers-date">
                        <h3 class="answer_count">
                            {% if ques.answers_count == 1 %}
                                {{ ques.answers_count }} &nbsp;Answer
                            {% else %}
                                {{ ques.answers_count }} &nbsp;Answers
                            {% endif %}
                        </h3>
                        <ul class="tags">
                            {% for tag in ques.tags %}
                                <li><a href="{% url 'tags' tag=tag %}">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>

                        <div class="question-by">
                            <a href="{% url 'userprofile' ques.question.user.id %}" class="user-name"><i class='fa fa-user-circle' style="font-size: 14px"></i> {{ ques.question.user }}</a>
                            <p class="date-posted">asked {{ ques.question.created_at | date:"j M Y" }} | edited {{ques.question.updated_at | date:"j M Y" }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if page_obj.has_other_pages %}
                <div class="pagination">
                    <ul class="pages">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li><span class="disabled">Previous</span></li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li><span class="active">{{ num }}</span></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        {% else %}
                            <li><span class="disabled">Next</span></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% include "threadfusion/footer.html" %}
{% endblock %}
