{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ThreadFusion{% endblock %}</title>

    <link href="{% static 'threadfusion/style.css' %}" rel="stylesheet">
    <link href="{% static 'threadfusion/django_quill.css' %}" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    
    <script src="{% static 'threadfusion/script.js' %}"></script>
    <script src="{% static 'threadfusion/django_quill.js' %}"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar-menu">
        <a class="logo" href="{% url 'index' %}">Thread Fusion</a>
        <i class="fa-solid fa-bars" id="mobile-bar-icon" onclick="open_menu()"></i>
        <i class="fa-solid fa-xmark" id="mobile-cross-icon" style="font-size: 18px;" onclick="close_menu()"></i>
        
        <div class="main-menu" id="main-menu">
            <ul class="nav-lists">
                <li><a href="{% url 'index' %}"><i class="fa-solid fa-house" id="mobile-icon"></i>Home</a></li>
                <li><a href="{% url 'askquestion' %}"><i class="fa-solid fa-circle-question" id="mobile-icon"></i>Ask Question</a></li>
                <li><a href="{% url 'contact' %}"><i class="fa-solid fa-square-phone" id="mobile-icon"></i>Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"><i class="fa-solid fa-right-to-bracket" id="mobile-icon"></i>Logout</a></li>
                    {% if profile_img %}
                        <li class="user-profile-tag">
                            <a href="{% url 'userprofile' user.id %}">
                                <div class="image-box">
                                    <img src="{{ profile_img.profile_image.url }}" alt="Profile_Image" class="profile-image" >
                                    <span>{{ user.username }}</span>
                                </div> 
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'userprofile' user.id %}">
                                <i class='fa fa-user-circle' style="font-size: 20px;"></i>
                                {{ user.username }}
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket" id="mobile-icon"></i>Login</a></li>
                {% endif %}
            </ul>

            <form action="{% url 'search' %}" method="GET" class="search-box search-form">
                <input type="text" class="search-input" name="q" placeholder="Search..." required>
                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </nav>

    <div class="box-container" id="box-container">
        {% block body %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

    <script>
        let main_menu = document.getElementById('main-menu');
        let container = document.getElementById('box-container');
        let menu_bars = document.getElementById('mobile-bar-icon');
        let close_icon = document.getElementById('mobile-cross-icon');

        const open_menu = () => {
            main_menu.style.display = 'flex';
            container.style.visibility = 'hidden';
            close_icon.style.display = 'flex';
            menu_bars.style.display = 'none';
        }

        const close_menu = () => {
            main_menu.style.display = 'none';
            container.style.visibility = 'visible';
            close_icon.style.display = 'none';
            menu_bars.style.display = 'block';
        }
    </script>
</body>
</html>