{% extends "threadfusion/navbar.html" %}

{% block body %}

    <div class="filtered_questions-container">
        <h2 class="question_count">showing 
            {% if question_count == 1 %}
                {{ question_count }} result
            {% else %}
                {{ question_count }} results
            {% endif %} for <span>"{{ query }}"</span>
        </h2>
        {% for searched_question in searched_questions %}
            <div class="filtered_questions">
                <a href="{% url 'singlequestion' id=searched_question.question.id %}" class="title">{{ searched_question.question.title }}</a>
                {{ searched_question.question.description.html | safe }}

                <div class="answers-date">
                    <h3 class="answer_count">
                        {% if searched_question.answers_count == 1 %}
                            {{ searched_question.answers_count }} &nbsp;Answer
                        {% else %}
                            {{ searched_question.answers_count }} &nbsp;Answers
                        {% endif %}
                    </h3>
                    <ul class="tags">
                        {% for tag in searched_question.tags %}
                            <li><a href="{% url 'tags' tag=tag %}">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>

                    <div class="question-by">
                        <a href="{% url 'userprofile' searched_question.question.user.id %}" class="user-name"><i class='fa fa-user-circle' style="font-size: 14px"></i> {{ searched_question.question.user }}</a>
                        <p class="date-posted">asked {{ searched_question.question.created_at | date:"j M Y" }} | edited {{ searched_question.question.updated_at | date:"j M Y" }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if question_count > 0 %}
            <div class="pagination">
                <ul class="pages">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li><span class="disabled">Previous</span></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li><span class="active">{{ num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% else %}
                        <li><span class="disabled">Next</span></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}