{% extends "threadfusion/navbar.html" %}
{% load humanize %}

{% block body %}
    {% if error_message %}
        <div class="toast-box">
            <div class="toast">
                <div class="msg-box">
                    <i class="fa fa-times-circle"></i>
                    <p>{{ error_message }}</p>
                </div>
                <i class="fa-solid fa-xmark" id="close-toast" data-redirect="{{ question.id }}"></i>
            </div>
        </div>
    {% elif success_message %}
        <div class="toast-box">
            <div class="toast success-toast">
                <div class="msg-box">
                    <i class="fa fa-check-circle"></i>
                    <p>Success! {{ success_message }}</p>
                </div>
                <i class="fa-solid fa-xmark" id="close-toast" data-redirect="{{ question.id }}"></i>
            </div>
        </div>
    {% endif %}

    <div class="delete-popup" id="popup">
        <div class="popup">
            <div class="message">
                <i class="fa-regular fa-circle-xmark"></i>
                <p>Are you sure? This cannot be undone.</p>
            </div>
            <div class="btns">
                <button class="btn close" onclick="closePopup()">Close</button>
                <form action="{% url 'deletequestion' question.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="question-id" value="" id="question-id">
                    <input type="hidden" name="answer-id" value="" id="answer-id">
                    <input type="submit" value="Delete" class="btn delete">
                </form>
            </div>
        </div>
    </div>

    <div class="singlequestion-container">
        <div class="question-title">
            <h2 class="title">{{ question.title }}</h2>
            {% if user == question.user %}
                <div class="edit-delete-btns">
                    <a href="{% url 'editquestion' question.id %}" class="edit-btn">Edit</a>
                    <button class="delete-btn" onclick="openPopup('{{ question.id }}')">Delete</button>
                </div>
            {% endif %}
        </div>
        {{ question.description.html | safe }}
        <div class="user-date-tags">
            <ul class="tags">
                {% for tag in tags %}
                    <li><a href="{% url 'tags' tag=tag %}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
            <div class="user-with-date">
                <a href="{% url 'userprofile' question.user.id %}" class="user-name"><i class='fa fa-user-circle' style="font-size: 20px"></i> {{ question.user }}</a>
                <p class="asked-on">asked on {{ question.created_at | date:"j M Y" }} | edited on {{ question.updated_at | date:"j M Y" }}</p>
            </div>
        </div>
    </div>
    <hr style="margin-left: 7rem; width: calc(100vw - 14rem);">

    <div class="allAnswers">
        <h3 class="answer-count">
            {% if answers_count == 1 %}
                {{ answers_count }} &nbsp;Answer
            {% else %}
                {{ answers_count }} &nbsp;Answers
            {% endif %}
        </h3>
        {% for ans in all_answers %}
            <div class="answer-box">
                <div class="answer-details">
                    <div class="user-details">
                        <a href="{% url 'userprofile' ans.user.id %}" class="user-profile"><i class='fa fa-user-circle' style="font-size: 20px"></i>{{ ans.user }}</a>
                        <p>answered on {{ ans.created_at | date:"j M Y" }} | edited on {{ ans.updated_at | date:"j M Y" }}</p>
                    </div>
                    {% if user == ans.user %}
                        <div class="edit-delete-btns">
                            <a href="{% url 'editanswer' question.id ans.id %}" class="edit-btn">Edit</a>
                            <button class="delete-btn" onclick="openPopupAnswer('{{ question.id }}', '{{ ans.id }}')">Delete</button>
                        </div>
                    {% endif %}
                </div>
                {{ ans.answer.html | safe }}

                {% if user.is_authenticated %}
                    <button type="button" class="likes-button like-btn" data-postid="{{ ans.id }}">
                        {% if ans.id in all_likes %}
                            <i class="fa-solid fa-thumbs-up liked"></i>
                            {% else %}
                            <i class="fa-solid fa-thumbs-up unlike"></i>
                        {% endif %} 
                            <span class="number-of-likes">{{ ans.answer_liked.count }}</span>
                            {% if ans.answer_liked.count <= 1 %}
                                <span class="like">like</span>
                            {% else %}
                                <span class="like">likes</span>
                            {% endif %}
                    </button>
                {% endif %}
            </div>

            <div class="comments-container">
                <h4>Comments</h4>
                {% for comment in comments %}
                    {% if comment.answer.id == ans.id %}
                        <p class="main-comment">{{ comment.comment }} –&nbsp; <a href="{% url 'userprofile' comment.user.id %}" class="comment-user">{{ comment.user }}</a><span>{{ comment.created_at | timesince }} ago</span></p>
                    {% endif %}
                {% endfor %}
            </div>

            {% if not user.is_authenticated %}
                <p class="login-to-comment"><a href="{% url 'login' %}" class="login-btn"> Login</a> to add a comment</p>
            {% else %}
                <div class="comments-form-container">
                    <form class="comments-form" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="answer_id" value="{{ ans.id }}" placeholder="Add a comment">
                        <input type="text" name="comment" placeholder="Add a comment" autocomplete="off">
                        <button type="submit">Add</button>
                    </form>
                </div>
            {% endif %}
            <hr>
        {% endfor %}    
    </div>

    {% if not user.is_authenticated %}
        <p class="login-url">To answer this question you need to login here <a href="{% url 'login' %}" class="login-btn"> Login</a></p>
    {% elif user.is_authenticated and not question.user.id == user.id %}
        <div class="answer-container">
            <h3 class="your-answer">Your Answer</h3>
            <form method="POST" class="form">
                {% csrf_token %}
                {{ answerForm.media  }}
                {{ answerForm.as_p }}
                
                <input class="submit-btn" type="submit" value="Post your answer">
            </form>
        </div>
    {% else %}
        <div class="own-question">
            <p>Sorry! but you cannot answer your own question.</p>
            <p>If you have find the solution or possess the answer, kindly update your question to share the solution.</p>
        </div>
    {% endif %}

    <script>
        let popup = document.getElementById("popup");

        const openPopup = (id) => {
            popup.classList.add("open-popup");
            document.getElementById("question-id").value = id;
        }
        
        const openPopupAnswer = (question_id, answer_id) => {
            popup.classList.add("open-popup");
            document.getElementById("question-id").value = question_id;
            document.getElementById("answer-id").value = answer_id;

            popup.scrollIntoView({
                behavior: 'smooth',
                block: 'center',
            });
        }

        const closePopup = () => {
            popup.classList.remove("open-popup");
        } 

        document.addEventListener('DOMContentLoaded', () => {
            const like_button = document.querySelectorAll('.like-btn');
        
            like_button.forEach(button => {
                button.onclick = () => {
                    if (button.classList.contains('likes-button')) {
                        like(button);
                    }
                };
            });
        });

        const like = (button) => {
            let answer_id = button.dataset.postid;
        
            fetch('/like', {
                method: 'PUT',
                body: JSON.stringify({ answer_id, action: 'like' })
            }).then(response => {
                if (response.status == 201) {
                    changeLikeContent(button, true);
                } else if (response.status == 200) {
                    changeLikeContent(button, false);
                }
                return response.json();
            })
        }
        
        const changeLikeContent = (button, action) => {
            let span = button.querySelector('i');
            let likes = button.getElementsByClassName('number-of-likes')[0];
            let numberOfLikes = parseInt(likes.innerText);
            if (action) {
                span.classList.add('liked');
                span.classList.remove('unlike');
                numberOfLikes++;
            } else {
                span.classList.add('unlike');
                span.classList.remove('liked');
                numberOfLikes--;
            }
            if (numberOfLikes <= 1){
                likes.innerText = numberOfLikes;
            } else {
                likes.innerText = numberOfLikes;
            }
        }
    </script>
{% endblock %}