@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #4D774E;
    border: 2px solid transparent;
    backface-visibility: content-box;
}

a {
    text-decoration: none;
}

.navbar-menu {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 7rem;
    color: #3C403D;
    background-color: #fff;
    border-bottom: 1.5px solid transparent;
    border-image: linear-gradient(to left, #9DC88D 1%, #4D774E 50%, #9DC88D 100%);
    border-image-slice: 1;
    z-index: 1000;

    .logo {
        font-size: 25px;
        font-weight: 700;
        color: #3C403D;
        transition: 0.5s ease;
        
        &:hover {
            cursor: pointer;
            transform: translateX(2px);
        }
    }

    #mobile-icon,
    #mobile-bar-icon,
    #mobile-cross-icon {
        display: none;
    }

    .main-menu {
        display: flex;
        align-items: center;
        gap: 30px;

        .nav-lists {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 25px;


            li {
                list-style: none;
                padding: 5px 14px;
                border: 2px solid transparent;
                transition: 0.4s ease-in-out;

                a {
                    font-size: 18px;
                    color: #3C403D;
                    font-weight: 400;
                    letter-spacing: 0.3px;
                    transition: 0.4s ease-in-out;

                    #mobile-icon {
                        display: none;
                    }
                }

                &:hover {
                    cursor: pointer;
                    border: 2px solid #4D774E;
                    
                    a {
                        color: #4D774E;
                    }
                }
            }
        }

        .search-box {
            height: 35px;
            border-radius: 50px;
            border: 1px solid #4D774E;
            display: flex;
            align-items: center;
            justify-content: center;

            .search-input {
                width: 0;
                padding: 0;
                float: left;
                border: none;
                outline: none;
                background: none;
                font-size: 15px;
                transition: .3s;

                &::placeholder {
                    color: #39603D;
                }
            }

            .search-btn {
                width: 35px;
                height: 35px;
                float: right;
                color: #fff;
                outline: none;
                border: none;
                border-radius: 50px;
                background: #4D774E;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                transition: .3s;
                cursor: pointer;

                .fa-search {
                    font-size: 18px;
                }
            }
        }

        .search-input:focus,
        .search-input:not(:placeholder-shown) {
            width: 240px;
            padding: 0 10px;
        }

        .search-box:hover > .search-input {
            width: 240px;
            padding: 0 10px;
        }

        .search-box:hover > .search-btn,
        .search-input:focus + .search-btn,
        .search-input:not(:placeholder-shown) + .search-btn {
            color: #fff;
            background: #4D774E;
        }
    }
}

.box-container {
    padding: 2rem 7rem 0;

    .hero-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        .headline {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            h1 {
                font-weight: 700;
                color: #39603D;
                line-height: 45px;
                letter-spacing: 0.3px;
            }
            
            p {
                font-size: 17px;
                line-height: 28px;
                letter-spacing: 0.3px;
            }

            a {
                width: 120px;
                color: #fff;
                padding: 8px 10px;
                text-align: center;
                border: 2px solid #39603D;
                background-color: #4D774E;
                transition: 0.5s ease-in-out;
                
                &:hover {
                    color: #4D774E;
                    background-color: #fff;
                    border: 2px solid #4D774E;
                }
            }
        }

        .illustration img {
            flex: 1;
            width: 500px;
        }
    }

    .top-questions,
    .filtered_questions-container {
        margin-top: 6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        h4 {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
        }

        .question-box,
        .filtered_questions {
            width: 100%;
            margin-top: 2rem;
            border-radius: 10px;
            padding: 1.4rem 2rem;
            border: 1px solid #3C403D;

            a {
                font-size: 17px;
                font-weight: 500;
                color: #164A41;
                letter-spacing: 0.3px;
                transition: 0.5s ease-in-out;

                &:hover {
                    color: #3C403D;
                }
            }

            .answers-date {
                margin-top: .8rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .answer {
                    margin: 0;
                    font-size: 15px;
                    font-weight: 500;
                    color: #39603D;
                    padding: 3px 10px;
                    border-radius: 4px;
                    background-color: #c0e4b4;
                    border: 0.5px solid #39603D;
                }

                .tags {
                    display: flex;
                    align-items: center;
                    gap: 10px;
        
                    li {
                        display: flex;
                        align-items: center;
                        list-style: none;
                        border-radius: 4px;
                        background: #c0e4b4;
                        
                        a {
                            font-size: 13px;
                            color: #39603D;
                            padding: 2.5px 10px;

                            &:hover {
                                color: #06c;
                            }
                        }
                    }
                }

                .date-posted {
                    margin: 0;
                    font-size: 14px;
                    color: #787d82;
                }
            }
        }
    }

    .filtered_questions-container {
        margin-top: 1rem;
    }

    .question_count {
        font-size: 20px;
        font-weight: 500;
    }

    .toast-box {
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .toast {
            max-width: 700px;
            padding: 10px 20px;
            display: flex;
            border-radius: 6px;
            align-items: center;
            justify-content: space-between;
            gap: 100px;
            position:relative;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

            &::before {
                content: '';
                background-color: #E24D4C;
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 100%;
                border-top-left-radius:6px;
                border-bottom-left-radius: 6px;
            }

            .msg-box {
                display: flex;
                align-items: center;
                gap: 15px;

                .fa-times-circle {
                    font-size: 24px;
                    color: #E24D4C;
                }

                .fa-check-circle {
                    font-size: 24px;
                    color: #2BDE3F;
                }

                p {
                    font-size: 16px;
                }
            }

            .fa-solid {
                cursor: pointer;
                color: #828282;
                transition: 0.5s ease-in-out;

                &:hover {
                    color: #3C403D;
                }
            }
        }

        .success-toast::before {
            background-color: #2BDE3F;
        }
    }

    .hide {
        display: none;
    }

    .delete-popup {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, 20%) scale(0.1);
        visibility: hidden;
        transition: transform 0.3s, top 0.3s;
        
        .popup {
            width: 400px;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            background: #fff;
            border-left: 4px solid #E24D4C;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }

        .message {
            padding: 15px 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid #e2e2e2;

            i {
                color: #E24D4C;
                font-size: 18px;
            }
        }

        .btns {
            padding: 15px 20px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 20px;

            .btn {
                border: none;
                outline: none;
                font-size: 14.5px;
                cursor: pointer;
                padding: 6px 12px;
                border-radius: 4px;
                transition: 0.4s ease-in-out;
            }

            .close {

                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }

            .delete {
                color: #E24D4C;
                background-color: #fcd3d3;

                &:hover {
                    color: #fff;
                    background-color: #E24D4C;
                }
            }
        }
    }

    .open-popup {
        visibility: visible;
        top: 10%;
        transform: translate(0, 20%) scale(1);
        z-index: 999;
    }

    .register-login-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem 5rem;

        .form-illustration {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #9DC88D;
            border-right: none;
            background-color: #c0e4b4;

            img {
                width: 320px;
            }

            p {
                color: #164A41;
                font-size: 16px;
            }

            .register-img {
                width: 400px;
            }
        }

        .icons {
            margin-right: 1.5rem;
            display: grid;
            place-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .icon-box {
                width: 260px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                padding: 1.2rem;
                border: 1px solid #9DC88D;

                img {
                    width: 60px;
                }

                a {
                    font-size: 16px;
                    color: #164A41;
                    transition: 0.5s ease-in-out;

                    &:hover {
                        color: #4D774E;
                    }
                }
            }

            .last {
                grid-column: 1/3;
            }
        }

        .form-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 50px;
            padding: 2rem 7rem;
            border: 1px solid #9DC88D;
            border-left: none;

            h2 {
                margin: 0;
                font-size: 18px;
                font-weight: 600;
            }

            .welcome {
                font-size: 15px;
            }

            .form {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 25px;

                input, textarea {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 6px 0;
                    font-size: 15px;
                    border-bottom: 1px solid #3C403D;
                }

                .password {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #3C403D;

                    input {
                        border: none;
                    }

                    i {
                        font-size: 13px;
                        cursor: pointer;
                    }

                    #close-eye {
                        color: #828282;
                    }

                    #open-eye {
                        display: none;
                    }
                }

                .submit-btn {
                    width: 120px;
                    color: #fff;
                    font-size: 15px;
                    padding: 8px 10px;
                    text-align: center;
                    border: 2px solid #39603D;
                    background-color: #4D774E;
                    transition: 0.5s ease-in-out;
                    
                    &:hover {
                        cursor: pointer;
                        color: #4D774E;
                        background-color: #fff;
                        border: 2px solid #4D774E;
                    }
                }
            }

            .contact-form {

                input, textarea {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 8px;
                    font-size: 15px;
                    border: 1px solid #9DC88D;
                    
                    &:is(:focus, :active) {
                        border: 1px solid #3C403D;
                    }
                }
            }

            .redirect-url {
                font-size: 14px;

                a {
                    color: #164A41;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        color: #4D774E;
                    }
                }
            }
        }

        .contact-us {
            padding: 2rem 4rem;
            border-left: 1px solid #9DC88D;
        }

        .register-form {
            gap: 40px;
        }
    }

    .rules-container {
        width: 100%;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 2rem;
        border-radius: 8px;
        background: #c0e4b4;
        border: 1px solid #39603D;

        h2 {
            font-size: 20px;
            font-weight: 600;
            color: #164A41;
        }

        .rules-guidelines {
            margin-left: 1rem;

            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;

                li {
                    font-size: 14px;
                }
            }
        }
    }

    .question-container {
        margin: 3rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            p {
                label {
                    font-size: 16px;
                    font-weight: 600;
                    color: #3C403D;
                    letter-spacing: 0.3px;
                }

                input {
                    width: 100%;
                    outline: none;
                    font-size: 14px;
                    margin: 12px 0 15px;
                    font-weight: 400;
                    padding: 8px 10px;
                    border-radius: 5px;
                    border: 1px solid #888;
                }
            }

            .ql-toolbar {
                border: 1px solid #888;
                background-color: #fff;
            }

            .ql-container {
                font-size: 14px;
                min-height: 300px;
                border-radius: unset;
                border: 1px solid #888;
                background-color: #fff;
            }

            .helptext {
                margin-top: -10px;
                font-size: 14px;
                color: #7e7e7e;
            }

            .helptext:nth-child(1),
            .helptext:nth-child(3) {
                display: none;
            }

            .submit-btn {
                outline: none;
                color: #fff;
                font-size: 15px;
                max-width: 220px;
                font-weight: 500;
                padding: 8px 20px;
                text-align: center;
                align-self: flex-end;
                border: 2px solid #39603D;
                background-color: #4D774E;
                transition: 0.5s ease-in-out;
                
                &:hover {
                    cursor: pointer;
                    color: #4D774E;
                    background-color: #fff;
                    border: 2px solid #4D774E;
                }
            }
        }
    }

    .singlequestion-container {
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .question-title {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                color: #39603D;
                font-size: 32px;
                font-weight: 400;
            }

            .edit-delete-btns {
                display: flex;
                align-items: center;
                gap: 15px;

                a,
                button {
                    border: none;
                    outline: none;
                    font-size: 16px;
                    cursor: pointer;
                    padding: 3px 10px;
                    border-radius: 3px;
                    background: transparent;
                    transition: color 0.4s ease-in-out;
                }
    
                .edit-btn {
                    background: #c0e4b4;
                    color: #4D774E;
    
                    &:hover {
                        color: #164A41;
                    }
                }
    
                .delete-btn {
                    color: #E24D4C;
                    background: #fcd3d3;
    
                    &:hover {
                        color: red;
                    }
                }
            }

        }

        .user-date-tags {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 0.8rem;

            .tags {
                display: flex;
                align-items: center;
                gap: 10px;
    
                li {
                    font-size: 13px;
                    list-style: none;
                    padding: 2.5px 10px;
                    background: #c0e4b4;
                    border-radius: 4px;

                    a {
                        color: #39603D;

                        &:hover {
                            color: #06c;
                        }
                    }
                }
            }

            .user-name {
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 15px;
                font-weight: 400;
                color: #636b74;
                letter-spacing: 0.3px;
            }

            .asked-on {
                margin-top: 3px;
                font-size: 14px;
                font-weight: 300;
                color: #787d82;
                letter-spacing: 0.3px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.3px;
            line-height: 1.4;
        }
    }

    .ql-syntax {
        max-height: 600px;
        padding: 15px 20px;
        overflow-y: scroll !important;
        background: rgb(248, 248, 248);
        font-size: 14px;
        font-family: 'Roboto Mono', monospace;

        .hljs-string {
            color: hsl(80,80.5%,26.5%);
        }

        .hljs-comment {
            color: #64607999;
        }

        .hljs-addition, .hljs-built_in, .hljs-builtin-name, .hljs-selector-attr, .hljs-selector-id, .hljs-selector-pseudo, .hljs-subst, .hljs-symbol, .hljs-template-tag, .hljs-template-variable, .hljs-type {
            color: #d47f00;
        }

        .hljs-attribute, .hljs-keyword, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-variable {
            color: #06c;
        }
    }

    .allAnswers {
        margin: 2rem 0;

        h3 {
            margin-top: 1.2rem;
        }

        .answer-box {
            margin: 2rem 0 2rem 2rem;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .answer-details {
                display: flex;
                justify-content: space-between;

                .user-details {
                    display: block;

                    p {
                        font-size: 14px;
                        font-weight: 300;
                        color: #636b74;
                        letter-spacing: 0.3px;
                    }
    
                    .user-profile {
                        font-size: 15.5px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }
                }

                .edit-delete-btns {
                    display: flex;
                    align-items: center;
                    gap: 15px;
    
                    a,
                    button {
                        border: none;
                        outline: none;
                        font-size: 15px;
                        cursor: pointer;
                        padding: 3px 10px;
                        border-radius: 3px;
                        background: transparent;
                        transition: color 0.4s ease-in-out;
                    }
        
                    .edit-btn {
                        background: #c0e4b4;
                        color: #4D774E;
        
                        &:hover {
                            color: #164A41;
                        }
                    }
        
                    .delete-btn {
                        color: #E24D4C;
                        background: #fcd3d3;
        
                        &:hover {
                            color: red;
                        }
                    }
                }
            }

            p {
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0.3px;
                line-height: 1.4;
            }
        }

        .comments-form-container {
            margin: 2rem 0 2rem 2rem;

            .comments-form {
                display: flex;
                flex-direction: column;
                gap: 8px;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 5px 0;
                    font-size: 15px;
                    border-bottom: 0.5px solid rgb(234, 234, 234);
                }

                button {
                    border: none;
                    outline: none;
                    font-size: 15px;
                    color: #029df0;
                    align-self: flex-end;
                    background: transparent;
                    transition: color 0.4s ease-out;
                    
                    &:hover {
                        color: #06c;
                        cursor: pointer;
                    }
                }
            }
        }

        .comments-container {
            margin: 3rem 0 2rem 2rem;

            h4 {
                margin: 10px 0;
                font-size: 15px;
                font-weight: 600;
            }
            
            .main-comment {
                font-size: 14px;
                padding: 10px 0;
                color: #3C403D;
                line-height: 1.4;
                border-top: 0.5px solid rgb(234, 234, 234);
                border-bottom: 0.5px solid rgb(234, 234, 234);

                .comment-user {
                    color: #0077B5;
                    font-size: 14px;
                    margin-left: 0;
                }

                span {
                    color: #b4b4b4;
                    font-size: 13px;
                    margin-left: 20px;
                }
            }
        }
    }

    .answer-container {
        margin: 30px 0;
        display: flex;
        gap: 20px;
        flex-direction: column;

        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            p {
                label {
                    display: none;
                }
            }

            .ql-toolbar {
                border: 1px solid #888;
                background-color: #fff;
            }

            .ql-container {
                font-size: 14px;
                min-height: 300px;
                border-radius: unset;
                border: 1px solid #888;
                background-color: #fff;
            }

            .submit-btn {
                outline: none;
                color: #fff;
                font-size: 15px;
                max-width: 220px;
                font-weight: 500;
                padding: 8px 20px;
                text-align: center;
                align-self: flex-end;
                border: 2px solid #39603D;
                background-color: #4D774E;
                transition: 0.5s ease-in-out;
                
                &:hover {
                    cursor: pointer;
                    color: #4D774E;
                    background-color: #fff;
                    border: 2px solid #4D774E;
                }
            }
        }
    }

    .login-url {
        text-align: center;
        margin-bottom: 2.5rem;

        .login-btn {
            outline: none;
            color: #fff;
            font-size: 15px;
            max-width: 220px;
            font-weight: 500;
            margin-left: 10px;
            padding: 8px 20px;
            text-align: center;
            align-self: flex-end;
            border: 2px solid #39603D;
            background-color: #4D774E;
            transition: 0.5s ease-in-out;
            
            &:hover {
                cursor: pointer;
                color: #4D774E;
                background-color: #fff;
                border: 2px solid #4D774E;
            }
        }
    }

    .own-question {
        padding: 15px 0;
        border-radius: 6px;
        text-align: center;
        margin-bottom: 2rem;
        background: #F8F4D5;
        border:  darken(#F8F4D5, 20%) 2px solid;
        
        p {
            color: #96722E;
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 0.3rem;
        }
    }
}

.footer {
    margin-top: 4rem;
    padding: 16px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    border-top: 1.5px solid transparent;
    border-image: linear-gradient(to left, #9DC88D 1%, #4D774E 50%, #9DC88D 100%);
    border-image-slice: 1;

    p {
        a {
            color: #39603D;
            font-weight: 600;

            &:hover {
                color: #164A41;
            }
        }
    }

    .socials {
        display: flex;
        align-items: center;
        gap: 15px;

        .fa-linkedin {
            color: #0077B5;
        }
        
        .fa-github {
            color: #000;
            transition: 0.5s ease-in-out;
        }
    }
}

@media screen and (max-width: 569px) {
    .navbar-menu {
        padding: 1rem 2rem;
        z-index: 1000;
    
        .logo {
            font-size: 20px;
            font-weight: 700;
        }

        #mobile-bar-icon {
            display: block;
            font-size: 18px;
        }
    
        .main-menu {
            width: 100%;
            position: absolute;
            top: 3.7rem;
            left: 0;
            padding: 1.4rem 1rem;
            display: flex;
            align-items: flex-start;
            flex-direction: column-reverse;
            gap: 30px;
            background: #fff;
            display: none;
    
            .nav-lists {
                width: 100%;
                height: 80vh;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
    
                li {
                    padding: 5px 14px;
                    
                    a {
                        font-size: 18px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        #mobile-icon {
                            display: block;
                            font-size: 18px;
                        }
                    }
                }
            }

            .search-box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                margin: 0 14px;
                height: unset;
                border-radius: 0;
                border: unset;
    
                .search-input {
                    width: 100%;
                    outline: none;
                    font-size: 14px;
                    background: none;
                    padding: 6px 10px;
                    border-radius: 3px;
                    border: 1px solid #4D774E;
                    float: unset;
                    transition: unset;
                }
    
                .search-btn {
                    all: unset;
                    padding: 5px 8px;
                    margin-right: 14px;
                    border-radius: 3px;
                    border: 1px solid #4D774E;

                    .fa-search {
                        font-size: 15px;
                    }
                }
            }
    
            .search-input:focus,
            .search-input:not(:placeholder-shown) {
                width: 100%;
                padding: 6px 10px;
            }
    
            .search-box:hover > .search-input {
                width: 100%;
                padding: 6px 10px;
            }
    
            .search-box:hover > .search-btn,
            .search-input:focus + .search-btn,
            .search-input:not(:placeholder-shown) + .search-btn {
                color: unset;
                background: unset;
            }
        }
    }

    .box-container {
        padding: 1.4rem 1.4rem 0;
    
        .hero-section {
            flex-direction: column-reverse;
            gap: 10px;
    
            .headline {
                gap: 18px;
    
                h1 {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 30px;
                }
                
                p {
                    font-size: 14px;
                    line-height: 22px;
                }
    
                a {
                    max-width: 120px;
                    font-size: 14px;
                    padding: 8px 0;
                    border: 1.5px solid #39603D;
                }
            }
    
            .illustration img {
                width: 250px;
            }
        }

        .top-questions,
        .filtered_questions-container {
            margin-top: 2.5rem;
            gap: 12px;

            h4 {
                font-size: 16px;
            }

            .question-box,
            .filtered_questions {
                margin-top: 1rem;
                border-radius: 10px;
                padding: 1.4rem;
                border: 1px solid #3C403D;

                a {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                }

                .answers-date {
                    margin-top: .8rem;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 8px;

                    .answer {
                        font-size: 12px;
                        font-weight: 400;
                        padding: 2px 10px;
                        border-radius: 3px;
                    }

                    .tags {
                        flex-wrap: wrap;
                        gap: 6px;
            
                        li {
                            border-radius: 3px;
                            
                            a {
                                font-size: 12px;
                                font-weight: 400;
                                padding: 2.2px 5px;
                            }
                        }
                    }

                    .date-posted {
                        font-size: 11px;
                    }
                }
            }
        }

        .filtered_questions-container {
            margin-top: 1rem;
        }
    
        .question_count {
            font-size: 15px;
        }

        .module-title {
            font-size: 15px;
        }

        .toast-box {
            margin-bottom: 1.2rem;
    
            .toast {
                padding: 10px;
                gap: 15px;
    
                &::before {
                    width: 3px;
                }
    
                .msg-box {
                    gap: 10px;
    
                    .fa-times-circle {
                        font-size: 15px;
                    }
    
                    .fa-check-circle {
                        font-size: 15px;
                    }
    
                    p {
                        font-size: 12px;
                    }
                }
    
                .fa-solid {
                    font-size: 15px;
                }
            }
    
            .success-toast::before {
                background-color: #2BDE3F;
            }
        }
    
        .delete-popup {
            padding: 0 1.4rem;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(0, 9%) scale(0.1);
            visibility: hidden;
            transition: transform 0.3s, top 0.3s;
            
            .popup {
                background: #fff;
                width: 100%;
            }
    
            .message {
                padding: 12px 15px;
                gap: 10px;
    
                i {
                    font-size: 15px;
                }

                p {
                    font-size: 12px;
                }
            }
    
            .btns {
                padding: 6px 15px;
                gap: 10px;
    
                .btn {
                    font-size: 12px;
                    padding: 2px 8px;
                }
            }
        }
    
        .open-popup {
            visibility: visible;
            top: 9%;
            transform: translate(0, 9%) scale(1);
            z-index: 999;
        }

        .register-login-contact {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            gap: 20px;
            padding: 0;
            margin-top: 2rem;
    
            .form-illustration {
                display: none;
            }
    
            .icons {
                width: 100%;
                margin-right: 0;
                grid-template-columns: repeat(3, 1fr);
    
                .icon-box {
                    width: 100%;
                    padding: 1rem 0.5rem;
    
                    img {
                        width: 25px;
                    }
    
                    a {
                        font-size: 13px;
                    }
                }
    
                .last {
                    grid-column: unset;
                }
            }
    
            .form-container {
                width: 100%;
                gap: 30px;
                padding: 1.8rem;
                border: 1px solid #9DC88D;
    
                h2 {
                    font-size: 15px;
                }
    
                .welcome {
                    font-size: 13px;
                }
    
                .form {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 25px;
    
                    input, textarea {
                        font-size: 13px;
                    }
    
                    .password {
    
                        i {
                            font-size: 10px;
                        }
                    }
    
                    .submit-btn {
                        padding: 8px;
                        font-size: 13px;
                        font-weight: 400;
                        border: 1px solid #39603D;
                        
                        &:hover {
                            border: 1px solid #4D774E;
                        }
                    }
                }
    
                .contact-form {
    
                    input, textarea {
                        font-size: 13px;
                    }
                }
    
                .redirect-url {
                    font-size: 12px;
                }
            }
    
            .contact-us {
                padding: 1.8rem;
            }
        }

        .responsive-contact {
            margin: 0 0 1.8rem;
        }

        .rules-container {
            margin-top: 1.2rem;
            gap: 16px;
            padding: 1.2rem 1rem;
            border-radius: 8px;
    
            h2 {
                font-size: 14px;
            }
    
            .rules-guidelines {
    
                ul {
    
                    li {
                        font-size: 12px;
                        line-height: 1.3;
                    }
                }
            }
        }
    
        .question-container {
            margin: 1.5rem 0;
            
            .form {
                gap: 20px;
    
                p {
                    label {
                        font-size: 14px;
                    }
    
                    input {
                        font-size: 13px;
                        margin: 12px 0 12px;
                        padding: 8px;

                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
    
                .ql-container {
                    font-size: 13px;
                }
    
                .helptext {
                    font-size: 12px;
                }

                .helptext:nth-child(1),
                .helptext:nth-child(3) {
                    margin-top: 1px;
                    display: block;
                }
    
                .submit-btn {
                    font-size: 13px;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #39603D;

                    &:hover {
                        border: 1px solid #4D774E;
                    }
                }
            }
        }

        .singlequestion-container {
            margin-bottom: 1.2rem;
            display: flex;
            flex-direction: column;
            gap: 12px;
    
            .question-title {
                margin-bottom: 0.5rem;
                align-items: unset;
                flex-direction: column;
                gap: 8px;
    
                .title {
                    font-size: 16px;
                }
    
                .edit-delete-btns {
                    align-self: flex-end;
    
                    a,
                    button {
                        font-size: 12px;
                        padding: 3px 8px;
                    }
                }
            }
    
            .user-date-tags {
                align-items: flex-start;
                flex-direction: column;
                gap: 10px;
                margin-top: 0.6rem;
    
                .tags {
                    align-items: flex-start;
                    flex-wrap: wrap;
                    gap: 6px;
        
                    li {
                        font-size: 12px;
                        padding: 2.2px 5px;
                        border-radius: 3px;
                    }
                }
    
                .user-name {
                    gap: 6px;
                    font-size: 12px;
                    color: #3C403D;

                    i {
                        font-size: 14px !important;
                    }
                }
    
                .asked-on {
                    margin-top: 3px;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
    
            p {
                font-size: 13px;
                letter-spacing: 0.2px;
            }

            h3 {
                font-size: 13px;
            }

            h2 {
                font-size: 14px;
            }

            h1 {
                font-size: 15px;
            }
        }

        .ql-syntax {
            max-height: 600px;
            padding: 15px;
            font-size: 12px;
        }

        .allAnswers {
            margin: 1rem 0;
    
            .answer-count {
                font-size: 14px;
                margin-top: 1rem;
            }
    
            .answer-box {
                margin: 1rem 0;
                gap: 12px;
    
                .answer-details {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;

                    .user-details {
                        
                        p {
                            font-size: 12px;
                            font-weight: 300;
                        }
        
                        .user-profile {
                            font-size: 13px;
                            color: #3C403D;
    
                            i {
                                font-size: 14px !important;
                            }
                        }
                    }

                    .edit-delete-btns {
                        align-self: flex-end;
        
                        a,
                        button {
                            font-size: 12px;
                            padding: 3px 8px;
                        }
                    }
                }
    
                p {
                    font-size: 13px;
                    letter-spacing: 0.2px;
                }
    
                h3 {
                    font-size: 13px;
                }
    
                h2 {
                    font-size: 14px;
                }
    
                h1 {
                    font-size: 15px;
                }
            }

            .comments-form-container {
                margin: 1.2rem 0;
    
                .comments-form {
                    gap: 8px;
    
                    input {
                        padding: 5px 0;
                        font-size: 13px;
                    }
    
                    button {
                        font-size: 12px;
                    }
                }
            }
    
            .comments-container {
                margin: 1.4rem 0;
    
                h4 {
                    font-size: 13px;
                }
                
                .main-comment {
                    font-size: 12px;
                    line-height: 1.3;
    
                    .comment-user {
                        display: unset;
                        font-size: 12px;
                        margin-left: 0;
                    }
    
                    span {
                        display: block;
                        font-size: 11px;
                        margin: 4px 0 0;
                    }
                }
            }
        }
    
        .answer-container {
            margin: 20px 0;
            gap: 10px;

            .your-answer {
                font-size: 14px;
            }
    
            .form {
                gap: 15px;
    
                p {
                    label {
                        display: none;
                    }
                }
    
                .ql-container {
                    font-size: 13px;
                }
    
                .submit-btn {
                    font-size: 13px;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #39603D;

                    &:hover {
                        border: 1px solid #4D774E;
                    }
                }
            }
        }

        .login-url {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 1.2rem;
            font-size: 13px;
    
            .login-btn {
                font-size: 13px;
                margin-left: 0;
                padding: 6px 10px;
                align-self: center;
                border: 1px solid #39603D;
                
                &:hover {
                    border: 1px solid #4D774E;
                }
            }
        }
    
        .own-question {
            padding: 12px 10px;
            margin-bottom: 1rem;
            border:  darken(#F8F4D5, 20%) 1.5px solid;
            
            p {
                font-size: 12px;
            }
        }
    }

    .footer {
        margin-top: 2rem;
        padding: 15px;
        gap: 10px;
    
        p {
            font-size: 11.5px;
        }
    
        .socials {
            font-size: 10px;
            font-weight: 400;
    
            .fa-linkedin {
                color: #0077B5;
            }
            
            .fa-github {
                color: #000;
                transition: 0.5s ease-in-out;
            }
        }
    }
}